.container {
  padding: 0 50px;
}

.tasks {
  min-height: 100vh;
  background-color: $color-dark;
  padding: 60px 0 125px 0;
}

.header {
  font-size: $font-size-2xl;
  text-align: right;
  color: $color-yellow;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
}

.cards {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.info {
  width: 560px;
  background: linear-gradient(240deg, #9500dc 17.61%, #560080 57.18%, #220032 88.56%);
  border-radius: 8px;
  img {
    margin: 0 auto;
  }
  p {
    margin: 30px auto 0 auto;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    font-family: $font-family-primary;
    line-height: $line-height-base;
    span {
      color: $color-yellow;
    }
  }
}
