$color-dark: #14091a;
$color-purple: #9e13e0;
$color-purple-dark: #560080;
$color-purple-deep: #220032;
$color-purple-bright: #9500dc;
$color-yellow: #fee97d;
$color-white: #ffffff;
$color-black: #000000;
$color-gradient: linear-gradient(140deg, #dc8400 0%, #560080 56%, #220032 100%);
