$font-family-primary: 'Halvar', Arial, Helvetica, sans-serif;
$font-family-secondary: 'Stolzl', Arial, Helvetica, sans-serif;
$font-family-mono: var(--font-geist-mono), 'Courier New', monospace;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 28px;
$font-size-2xl: 40px;

$line-height-tight: 0.9;
$line-height-heading: 1.1;
$line-height-base: 1.4;
$line-height-loose: 1.6;
