.title {
  display: flex;
  justify-content: end;
  color: $color-yellow;
  padding: rem(20) 0 rem(30);
  font-size: rem(40);
  font-weight: $font-weight-bold;

  @include media-up-height(xl) {
    padding: rem(60) 0 rem(60);
  }
}
