.card {
  display: flex;
  min-height: 64px;
  align-items: center;
  border-radius: $radius-md;
  background: $color-purple;
  color: $color-white;
  font-size: 20px;
  font-weight: $font-weight-bold;
  line-height: 1.2;
  padding: 20px;
  padding-right: 25px;
}
