.volumetric {
  width: fit-content;
  margin: rem(100) auto 0 auto;
}

.btn {
  position: relative;
  padding: rem(24) rem(10);
  width: fit-content;
  background-color: $color-yellow;
  border: 2.5px solid $color-black;
  border-radius: 3px;
  color: $color-black;
  text-transform: uppercase;
  letter-spacing: 20%;
  font-size: rem(23);
  font-weight: 700;
  cursor: pointer;
  z-index: 1;
  &::before {
    content: '';
    z-index: -1;
    box-sizing: content-box;
    background-color: $color-yellow;
    border: 2.5px solid $color-black;
    border-radius: 2px;
    width: 100%;
    height: rem(10);
    position: absolute;
    top: rem(-15);
    right: rem(-9);
    transform: skewX(-45deg);
  }
  &::after {
    content: '';
    z-index: -1;
    box-sizing: content-box;
    background-color: $color-yellow;
    border: 2.5px solid $color-black;
    border-radius: 3px;
    width: rem(10);
    height: 100%;
    position: absolute;
    top: rem(-9);
    right: rem(-15);
    transform: skewY(-45deg);
  }
  &:hover {
    background-color: $color-black;
    color: $color-yellow;
    border-color: $color-yellow;
    &::before,
    &::after {
      background-color: $color-black;
      border-color: $color-yellow;
    }
  }
}
