.tabs {
  margin-top: rem(60);
  display: flex;
  justify-content: space-between;
}

.tabsBtns {
  display: flex;
  flex-direction: column;
  row-gap: rem(30);
  align-items: flex-start;
}

.tabBtn {
  display: flex;
  align-items: center;
  column-gap: rem(40);
  padding: 0 rem(57);
  height: rem(90);
  font-size: rem(32);
  font-weight: 700;
  border-radius: rem(100);
  border: 3px solid $color-yellow;
  background-color: transparent;
  color: $color-yellow;
  cursor: pointer;
  &:hover {
    background-color: $color-yellow;
    color: $color-ink;
    border-color: $color-ink;
  }
}

.tabBtnActive {
  background-color: $color-yellow;
  color: $color-ink;
  border-color: $color-ink;
  background-color: $color-yellow;
}

.tabContent {
  display: flex;
  flex-direction: column;
  row-gap: rem(16);
  background: linear-gradient(125.5deg, #a30ee9 5.95%, #8a00cc 98.4%);
  padding: rem(88) rem(98) 0 rem(98);
  border-radius: $radius-lg;
  width: rem(757);
  height: rem(615);
  text-align: center;
  margin-bottom: rem(70);
  p {
    font-weight: $font-weight-bold;
    font-size: $font-size-lg;
    line-height: rem(24);
  }
}

.arrow {
  color: $color-ink;
  display: block;
  margin: $space-4 auto;
  rotate: 90deg;
}

.btn {
  margin: $space-4 auto 0 auto;
  transform: translateX(-10px);
}
