@font-face {
  font-family: 'Halvar';
  src: url('../../assets/fonts/halvar/HalvarBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar';
  src: url('../../assets/fonts/halvar/HalvarMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar';
  src: url('../../assets/fonts/halvar/HalvarRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar';
  src: url('../../assets/fonts/halvar/HalvarLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar';
  src: url('../../assets/fonts/halvar/HalvarThin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar';
  src: url('../../assets/fonts/halvar/HalvarExtraThin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../../assets/fonts/stolzl/StolzlBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../../assets/fonts/stolzl/StolzlMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../../assets/fonts/stolzl/StolzlRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../../assets/fonts/stolzl/StolzlBook.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../../assets/fonts/stolzl/StolzlLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../../assets/fonts/stolzl/StolzlThin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
