@use '../abstracts/tokens' as *;

body {
  color: $color-white;
  // background: $color-dark;
  background: white;
  font-family: $font-family-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;
  letter-spacing: 0;
}

p {
  text-wrap: pretty;
}
